{% capture header_title %} {{ 'general.404.title' | t }} {% endcapture %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper__article">
	<h2 class="home-section-title less-margin">{{ 'general.404.subtitle' | t }}</h2>
	<p>{{ 'general.404.content_html' | t }}</p>
</div>