{% assign header_title = page.title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    {{ page.content }}
  </div>
</div>
