{{#if section.settings.show_share_buttons}}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{escape section.settings.social_message}}</p>
    {{include 'social-sharing'}}
  </div>
{{/if}}

<div class="password-powered-by">
  {{#capture 'shopify'}}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
  {{/capture}}

  <small>{{t 'general.password_page.powered_by_shopify_html' shopify shopify}}</small>
</div>

{{#schema}}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{{/schema}}
