{{#if section.settings.show_powered_by}}
  <footer class="password-footer text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="password-footer">
    {{#capture 'shopify'}}
    <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
      <span class="visually-hidden">Shopify</span>
      {{include 'icon-shopify-logo'}}
    </a>
    {{/capture}}
    {{t 'general.password_page.powered_by_shopify_html' shopify shopify}}
  </footer>
{{/if}}

{{#schema}}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show 'powered by Shopify'",
      "default": true
    }
  ]
}
{{/schema}}
