<div class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection-section">
  {% comment %}
    By default, featured products come from your Frontpage collection.
    This collection is empty by default and must have products added to it
  {% endcomment %}
  {% if section.settings.home_featured_products == blank %}
    {% assign featured_collection = "frontpage" %}
  {% else %}
    {% assign featured_collection = section.settings.home_featured_products %}
  {% endif %}

  {% comment %}Heading for screen readers{% endcomment %}
  <h2 class="visually-hidden">{{ featured_collection }}</h2>

  <div class="grid grid--no-gutters grid--uniform collection-grid">
    {% comment %}
      Set grid item widths based on settings
    {% endcomment %}
    {% include 'product-grid-width' with product_image_type: section.settings.product_image_type, product_image_size: section.settings.product_image_size %}

    {% unless section.settings.home_featured_products == blank %}
      {% for product in collections[featured_collection].products %}
        {% assign price = product.price | money_without_trailing_zeros %}
        {% include 'product-grid-item' with product_image_spacing: section.settings.product_image_spacing, vendor_enable: section.settings.vendor_enable %}
      {% else %}
        {% comment %}
          If collection is empty, show onboarding state
          For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
        {% endcomment %}
        {% include 'onboarding-featured-collection' with product_image_spacing: section.settings.product_image_spacing %}

      {% endfor %}
    {% else %}
      {% include 'onboarding-featured-collection' with product_image_spacing: section.settings.product_image_spacing %}
    {% endunless %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section featured-collection-section",
    "settings": [{
        "type": "header",
        "content": "Collection"
      },{
        "type": "collection",
        "id": "home_featured_products",
        "label": "Collection"
      }, {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "select",
        "id": "product_image_type",
        "label": "Image style",
        "options": [
          {
            "value": "portrait",
            "label": "Tall/square"
          },
          {
            "value": "landscape",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_image_size",
        "label": "Image size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "xlarge",
            "label": "Extra large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "product_image_spacing",
        "label": "Enable image spacing"
      },
      {
        "type": "checkbox",
        "id": "vendor_enable",
        "label": "Show product vendor"
      }],
    "presets": [{
      "name": "Featured collection",
      "category": "Collection"
    }]
  }
{% endschema %}
