{% assign number_of_products = 4 %}
{% assign product_size = 460 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
  <div class="section-header text-center">
    <h2 class="section-header__title">{{ "products.general.related_products_title" | t }}</h2>
    <hr class="hr--small">
  </div>
  <div class="grid-uniform product-grid">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% assign grid_item_width = 'medium-down--one-half large--one-quarter' %}
    {% for product in collection.products limit: number_of_products_to_fetch %}
      {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
      {% else %}
        {% unless current_product_found == false and forloop.last %}
          {% assign featured = product %}
          <div class="grid-item {{ grid_item_width }}">
            {% include 'product-grid-item' with product_size: product_size %}
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
