{{assign 'collection' (get collections section.settings.collection)}}
{{#if (isnt collection blank)}}
  {{#if (isnt collection.products_count 0)}}
    <hr>
    <h3 class="h4">{{t 'layout.sidebar.featured_products'}}</h3>
    <div class="grid grid--no-gutters grid--uniform">
      {{#each (limit collection.products 4) as |product|}}
        <div class="grid__item medium-up--one-quarter small--one-half">
          {{include 'product-card",' product: product}}
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}

{{#schema}}
  {
    "name": "Featured products",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  }
{{/schema}}
