<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{#if page.title}}{{ page.title }} – {{/if}}{{ site.title }}</title>

    <meta name="description" content="{{default page.description site.description}}">
    <meta name="author" content="Shopify">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="stylesheet" href="{{prepend "/css/main.css" site.baseurl}}">
    <link rel="icon" type="image/png" href="{{prepend "/images/icons/water-drop-32x.png" site.baseurl}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{prepend "/images/icons/water-drop-64x.png" site.baseurl}}" sizes="64x64">
    <link rel="canonical" href="{{prepend (prepend (replace page.url 'index.html' '') site.baseurl) site.url}}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{prepend (prepend "/feed.xml" site.baseurl) site.url}}" />

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{append site.url site.baseurl}}">
    <meta property="og:title" content="{{default page.title site.title}}">
    <meta property="og:description" content="{{default page.description site.description}}">

    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{append site.url site.baseurl}}">
    <meta name="twitter:title" content="{{default page.title site.title}}">
    <meta name="twitter:description" content="{{default page.description site.description}}">
  </head>

  <body>

    {{include "sidebar"}}

    <div class="content__overlay"></div>
    <main class="content__area" role="main">
      <div class="content">
        <button class="menu-button">
          <span aria-hidden="true">{{include "icons/three-bars.svg"}}</span>
          <span>Menu</span>
        </button>
        {{#if page.title}}<h1>{{ page.title }}</h1>{{/if}}
        {{ content }}
      </div>
    </main>
    <script src="{{prepend "/js/script.js" site.baseurl}}"></script>
  </body>
</html>
