{{#capture 'header_title'}} {{t 'general.404.title'}} {{/capture}}
{{include 'page_header' header_title}}

<div class="wrapper wrapper--margins wrapper__article">
	<h2 class="home-section-title less-margin">{{t 'general.404.subtitle'}}</h2>
	<p>{{t 'general.404.content_html'}}</p>
</div>