<div class="card critical-clear" data-animate>
  <a href="{{ page.url }}" class="card__wrapper card--article">
    <div class="card__info">
      <h3 class="card__name">{{ page.title }}</h3>
      <div class="card__excerpt rte">
        {{ page.content | strip_html | truncatewords: 30 }}
      </div>
      <span class="card__read-more">
        {{ 'blogs.article.read_more' | t }}
        {% include 'icon-arrow-right' %}
      </span>
    </div>
  </a>
</div>
