<div id="home-blog" class="index-section home-section">
	<div class="home-blog">
		<div class="wrapper wrapper--margins">
		{%- assign blog = blogs[section.settings.blog] -%}

			{% if blogs[section.settings.blog] != blank %}

			  {% if section.settings.title != blank %}
			    <h2 class="home-section-title">{{ section.settings.title | escape }}</h2>
			  {% endif %}

			{% paginate blog.articles by section.settings.post_limit %}

			<div class="blog-list">

				{% for article in blog.articles %}
				  {% include 'blog_item' with blog.comments_enabled? %}
				{% endfor %}

			</div>

			{% if paginate.next.is_link %}
			  <p class="text-center"><a class="btn btn--large btn--outline btn--dark" href="{{ blog.url }}">More posts</a></p>
			{% endif %}

			{% endpaginate %}

			{% else %}

			<!-- onboarding -->
			<div class="onboarding">
				<h2 class="home-section-title">{{ 'homepage.onboarding.section_title' | t }}</h2>
				<p>{{ 'homepage.onboarding.no_content' | t }}</p>
			</div>

			{% endif %}

		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Blog posts",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Header",
				"default": "Blog"
			},
			{
				"id": "blog",
				"type": "blog",
				"label": "Blog"
			},
			{
				"type": "range",
				"id": "post_limit",
				"label": "Posts",
				"min": 1,
				"max": 3,
				"step": 1,
				"default": 3
			}
		],
		"presets": [
			{
				"name": "Blog posts",
				"category": "Blog",
				"settings": {
					"blog": "News"
				}
			}
		]
	}
{% endschema %}
