{% comment %}
Share homepage URL
Shared text is from the store meta description
{% endcomment %}
{% if section.settings.show_share_buttons %}
	<div class="password-social-sharing">
		<p class="h6">{{ section.settings.social_message | escape }}</p>
		{% include 'social-sharing', center_icons: true, share_title: shop.password_message %}
	</div>
{% endif %}

<footer class="password-footer" role="contentinfo">
	{% capture shopify %}
	<a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
		{% include 'icon-shopify-logo' %}
		<span class="visually-hidden">Shopify</span>
	</a>
	{% endcapture %}
	{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}{% endschema %}
