<div class="grid">

	<div class="grid-item large--two-thirds push--large--one-sixth">

		<h1 class="text-center">{{ 'general.404.title' | t }}</h1>
		<p class="text-center">{{ 'general.404.subtext_html' | t }}</p>

	</div>

</div>
