<!-- /snippets/tags-article.liquid -->
{{#comment}}

  This snippet renders a list item with all tags listed out.
  It is used in article.liquid and blog.liquid.

  More information:
   - index#article-tags
   - http://docs.shopify.com/themes/liquid-variables/article

{{/comment}}

{{#if (gt article.tags.size 0)}}
  <li>
    <span>{{t 'blogs.article.tags'}}:</span>
    {{#each article.tags as |tag|}}
      <a href="{{ blog.url }}/tagged/{{handle tag}}">{{ tag }}</a>{{#unless forloop.last}}, {{/unless}}
    {{/each}}
  </li>
{{/if}}
