<div class="grid">

	<div class="grid-item large--two-thirds push--large--one-sixth">

		<h1 class="text-center">{{t 'general.404.title'}}</h1>
		<p class="text-center">{{t 'general.404.subtext_html'}}</p>

	</div>

</div>
