<div class="page-width">
  <div class="empty-page-content text-center">
    <h1>{{t 'general.404.title'}}</h1>
    <p>{{t 'general.404.subtext'}}</p>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{t 'general.404.link'}}{{include 'icon-arrow-right'}}</a>
    </p>
  </div>
</div>
