<!-- /templates/404.liquid -->

<header class="section-header section-header--404 text-center">
  <h1>{{t 'general.404.title'}}</h1>
  <hr class="hr--small">
  <p>{{t 'general.404.subtext_html'}}</p>
</header>
