 <div class="grid__item">
  <div class="helper-section featured-collection">
    <div class="grid grid--uniform grid--no-gutters helper-content">
      {{#each (range 1 8) as |i|}}
        <div class="product-item grid__item {{ grid_item_width }}">
          <div class="product-item__link-wrapper">
            <a class="product-item__link {{#if product_image_spacing}} product-item__image--margins{{/if}}" href="/admin/products">
            <span class="image-wrapper">
              {{#capture 'current'}}{{cycle 1 2 3}}{{/capture}}
              {{placeholder_svg_tag (append 'product-' current) 'placeholder-svg product-item__image-no-js'}}
                <span class="product-item__meta">
                  <span class="product-item__meta__inner">
                    <p class="product-item__title">{{t 'homepage.onboarding.product_title'}}</p>
                    <p class="product-item__price-wrapper">$19.99</p>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>