{% layout 'password' %}

{% section 'password-header' %}
{% section 'password-content' %}

<footer class="password-footer" role="contentinfo">
    {% capture shopify %}
      <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
        {% include 'svg-definitions' with 'shopify-logo' %}
        <span class="shopify-name">Shopify</span>
      </a>
    {% endcapture %}
    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
</footer>