<div class="page-width page-empty text-center">
  <h1>{{t 'general.404.title'}}</h1>
  <p>{{t 'general.404.subtext_html'}}</p>
  <hr>
  <p>
    <a href="/" class="btn">{{t 'general.404.404_link'}}</a>
  </p>
</div>
