<!-- /templates/404.liquid -->

<div class="page-width text-center">
  <h1>{{t 'general.404.title'}}</h1>
  <p>{{t 'general.404.subtext'}}</p>
  <p>
    <a href="/" class="btn">{{t 'general.404.visit_homepage'}}</a>
  </p>
</div>
